<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/client/styles.css' />
  </head>
  <body>
    <element-app key="elements" module="poll"></element-app>
    <script type="text/javascript" src="/client/user-poll.js"></script>
  </body>
</html>
