<section class="form-section" id="form-section">
  <header>
    <div class="main-container box-sizing-border logo-box">
      <a href="#">
        <img src="/assets/images/orange-logo.png">
      </a>
    </div>
  </header>
  <div class="main-container box-sizing-border">
    <div class="row">
      <div class="poll-box">
        <h2 class="section-title">Completá el formulario y participá</h2>
        <div class="form-box">
          <form [formGroup]="contactInfo" (submit)="send()">
            <input class="w-input box-sizing-border" placeholder="Apellidos*" type="text" required formControlName="lastname" name="lastname">
            <input class="w-input box-sizing-border" placeholder="Nombre*" type="text" required formControlName="firstname" name="firstname">
            <input class="w-input box-sizing-border" placeholder="Email*" type="text" required formControlName="email" name="email">
            <input class="w-input box-sizing-border" placeholder="País*" type="text" required formControlName="country" name="country">
            <input class="w-input box-sizing-border" placeholder="Organización" type="text" required formControlName="organization" name="organization">
            <input class="w-input box-sizing-border" placeholder="Empleo" type="text" required formControlName="jobTitle" name="jobtitle">
            <textarea class="w-text-area box-sizing-border" placeholder="Preguntas y comentarios..." formControlName="comments" name="comments"></textarea>
            <div class="text-center">
              <button class="poll-full-button my-transition send-contact-btn" [disabled]="contactInfo.invalid" type="submit">enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
