.ng-touched.ng-invalid{
    border-color: red;
}

.ng-dirty.ng-invalid{
    border-color: red;
}

.send-contact-btn:disabled{
    background: gray;
}

.send-contact-btn:disabled::before{
    background: gray;
}
