<section class="main-banner">
    <header>
        <div class="main-container box-sizing-border logo-box">
            <a href="#"><img src="/assets/images/white-logo.png"></a>
        </div>
    </header>
    <div class="main-container box-sizing-border">
        <div class="row">
            <div class="lead">
                <div class="lead-box">
                      <h1 class="main-title">
                          Demostrá todo tu conocimiento de Node<br>
                          <span class="light-txt">y participá del sorteo de una Tablet Samsung</span>
                      </h1>
                      <div class="desafio-logo">
                          <img src="/assets/images/desafio-node-logo.png">
                      </div>

                      <h2 class="main-title">
                          ¡Vos podés ser el ganador!<br>
                          <span class="light-txt2">¿Estás listo para el desafío?</span>
                      </h2>
                      <a class="big-button my-transition" (click)="agree()">comenzar</a>
                  </div>
              </div>
          </div>
    </div>
</section>