<div>
  <app-splash (next)="moveToPolls($event)" *ngIf="show == 'splash'"></app-splash>
  <app-poll (sendVotes)="getVotes($event)" [poll]="pollDetail" *ngIf="show == 'poll'"></app-poll>
  <app-contact (sendContact)="getContactDetail($event)" *ngIf="show == 'contact'"></app-contact>

  <!-- <button (click)="show = 'splash'">Show Splash</button>
  <button (click)="show = 'poll'">Show Poll</button>
  <button (click)="show = 'contact'">Show Contact</button> -->
  {{pollDetail | json}} {{pollResult | json}}
</div>
